<%= form_for(@team, class: "form") do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :profile %><br>
    <%= f.file_field :profile, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_field :post, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_area :detail, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
