<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= image_tag @team.profile %>
</p>

<p>
  <strong>Post:</strong>
  <%= @team.post %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @team.detail %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
