<%= form_tag('/dashboard/settings',class: "form-group") do %>
  <div class="field"> 
    <%= label_tag :fb_link %><br>
    <%= text_field_tag :fb_link,@fb_link, class: "form-control" %>
  </div>
  <div class="field"> 
    <%= label_tag :twitter_link %><br>
    <%= text_field_tag :twitter_link,@twitter_link, class: "form-control" %>
  </div>
  <div class="field"> 
    <%= label_tag :gplus_link %><br>
    <%= text_field_tag :gplus_link,@gplus_link, class: "form-control" %>
  </div>
  <div class="field"> 
    <%= label_tag :linked_link %><br>
    <%= text_field_tag :linked_link,@linked_link, class: "form-control" %>
  </div>
  <div class="field"> 
    <%= label_tag :flicker_link %><br>
    <%= text_field_tag :flicker_link,@flicker_link, class: "form-control" %>
  </div>
  <!-- <div class="field">
    <%= label_tag :img %><br>
    <%= file_field_tag :img, class: "form-control" %>
  </div> -->
  <div class="field">
    <%= label_tag :number %><br>
    <%= text_field_tag :number,@number, class: "form-control",required: "" %>
  </div>
  <div class="field">
    <%= label_tag :s1 %><br>
    <%= text_field_tag :s1,@s1, class: "form-control",required: "" %>
  </div>
  <div class="field">
    <%= label_tag :s2 %><br>
    <%= text_field_tag :s2,@s2, class: "form-control",required: "" %>
  </div>
  <div class="field">
    <%= label_tag :s3 %><br>
    <%= text_field_tag :s3,@s3, class: "form-control",required: "" %>
  </div>
  <div class="field">
    <%= label_tag :s4 %><br>
    <%= text_field_tag :s4,@s4, class: "form-control",required: "" %>
  </div>
  <div class="field">
    <%= label_tag :s5 %><br>
    <%= text_field_tag :s5,@s5, class: "form-control",required: "" %>
  </div>
  <div class="field">
    <%= label_tag :s6 %><br>
    <%= text_field_tag :s6,@s6, class: "form-control",required: "" %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
