<!-- <p id="notice"><%= notice %></p> -->

<h1>Listing Teams</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Profile</th>
      <th>Post</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= image_tag team.profile.thumb.url %></td>
        <td><%= team.post %></td>
        <td><%= team.detail %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
