<%= form_for(@blog, :html => { :multipart => true }, class: "form") do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control"  %>
  </div>

    
  <%= f.fields_for :post_attachments do |p| %>
   <div class="field">
     <%= p.label :image %><br>
     <%= p.file_field :image, :multiple => true, name: "post_attachments[image][]" %>
   </div>
  <% end %>


  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc,  class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
