<!-- <p id="notice"><%= notice %></p> -->
<div class="post">
	<div class="post-title-enclose">
		<h2><%= @blog.title %></h2>
		<div class="post-info">
			<ul class="blog-tile-post-info">
			<li>Post by <a href="">Admin</a></li>
			<li><i class="fa fa-select"></i><a href="#"><%= @blog.created_at.strftime("%m-%d-%Y") %></a></li>
		</ul>
		</div>
	</div>
	<div class="post-content-wrap">
		<div class="featured-image">
		<img class="img-responsive" src="<%= @post_attachments.first.image.url %>" alt="">
		</div>
		<div class="post-content"><%= @blog.desc %>
		<!-- <a href="" class="rmore clearfix btn pull-right">Read More!</a> -->
		</div>
	</div>
</div>
<!-- <p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Image:</strong>
  <% @post_attachments.each do |p| %>
  <%= image_tag p.image %>
	  <%= link_to "Edit Attachment", edit_attachment_path(p) %>
	<% end %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @blog.desc %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
 -->