<!-- <p id="notice"><%= notice %></p> -->

<h1>Listing Portfolios</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Featured image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <td><%= portfolio.title %></td>
        <td><%= image_tag portfolio.featured_image.thumb.url %></td>
        <td><%= portfolio.description %></td>
        <td><%= link_to 'Show', portfolio %></td>
        <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
        <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio', new_portfolio_path %>
