<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @attachment.image %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
