<div class="clearfix"></div>
  <article id="about" class="non-parllax onepage-7 onepage" data-slide="7" style="background:;">
    <div class="article-enclose container" style="padding-top:;padding-bottom:;">
      <div class='col-md-6 left-text col-sm-6 animated animation' data-animate='slideInLeft'>
        <blockquote style="padding-right: 0px;">
          <p>We create websites which transform brands and make them stand out.</p>
        </blockquote>
        <p>With over 8 years of experience concentrating on Visual and Graphical Excellence, we can provide professional yet affordable web and graphic design services. We know how to deliver elegant user-centric solutions which meet your objectives.</div>
      <div class='col-md-6 right-text col-sm-6 animated animation' data-animate='slideInRight'><img class="aligncenter size-full wp-image-13 img-responsive" style="margin: auto;" src="http://wizdevel.com/beta/wp-content/uploads/2015/01/graphics-web-design-portfolio.png" alt="comp" />
      </div>
      <ul class='col-md-12 specialities-ul clearfix row ' data-animate=''>
        <li class='col-sm-2 col-md-2  animated animation' data-animate='bounceInDown'>
          <section>
            <div class='grey spcl-fig img-circle'><i class='pe-7s-clock'></i>
            </div>

            <h3>Turnaround</h3>
            <div>We always ensure efficient and prompt delivery of the project within the deadline.</div>

          </section>
        </li>
        <li class='col-sm-2 col-md-2  animated animation' data-animate='bounceInUp'>
          <section>
            <div class='green spcl-fig img-circle'><i class='pe-7s-monitor'></i>
            </div>

            <h3>Responsive</h3>
            <div>We design and build awesome web sites that look and perform great on all devices.</div>

          </section>
        </li>
        <li class='col-sm-2 col-md-2  animated animation' data-animate='bounceInDown'>
          <section>
            <div class='blue spcl-fig img-circle'><i class='pe-7s-coffee'></i>
            </div>

            <h3>Affordable</h3>
            <div>We understand that you need to get the most for your money. Thus we offer competitive pricing.</div>

          </section>
        </li>
        <li class='col-sm-2 col-md-2  animated animation' data-animate='bounceInUp'>
          <section>
            <div class='red spcl-fig img-circle'><i class='pe-7s-like'></i>
            </div>

            <h3>Passion</h3>
            <div>We love nothing more than working on a great project with a fantastic client like you.</div>

          </section>
        </li>
        <li class='col-sm-2 col-md-2  animated animation' data-animate='bounceInDown'>
          <section>
            <div class='yellow spcl-fig img-circle'><i class='pe-7s-star'></i>
            </div>

            <h3>Experience</h3>
            <div>We have a combined experience of eight years working with clients, both large and small.</div>

          </section>
        </li>
      </ul>
    </div>
  </article>