<!--=======Blog start=====-->
<article class="blog non-parllax">
	<header class="article-head">
		<div class="container">
			<h1>From our Blog</h1>
		</div>
	</header>
	<div class="article-enclose container">
		<div class="article-container col-md-12">
			<div class="row">
			
			<% @blog.each_with_index do |ad| %>
			<article class="blog-post-tile col-md-4 animated animation" data-animate="flipInY">
				<div class="blog-tile-tumb"><img class="img-responsive" src="<%= ad.attachments.first.image.thumb.url %>" alt=""></div>
				<div class="blog-tile-content-wrap">
					<a href="">
						<h2><%= ad.title %></h2>
					</a>
					<ul class="blog-tile-post-info">
						<li>Post by <a href="">Admin</a></li>
						<li><i class="fa fa-select"></i><a href=""><%= ad.created_at.strftime("%m-%d-%Y") %></a></li>
					</ul>
					<div class="blog-tile-content ">
						<p><%= ad.desc%></</p>
						
					</div>
				</div>
			</article>
			<% end %>
			</div>
			<a href="/home/blog" class="btn" id="go-to-blog">Visit Blog</a>
		</div>
	</div>
</article>
<!--=======Blog End=====-->