<div class="clearfix"></div>
  <article id="clients" class="non-parllax onepage-28 onepage" data-slide="28" style="background:#f0f0f0;">
    <div class="article-enclose container" style="padding-top:10px;padding-bottom:20px;">

      <ul class="client-list col-md-12 animated animated animation" data-animate="bounceInDown">
        <li class="col-xs-4 col-sm-2 col-md-2"><img class="img-responsive" src="http://wizdevel.com/beta/wp-content/uploads/2014/12/skrill-logo.png" alt="">
        </li>
        <li class="col-xs-4 col-sm-2 col-md-2"><img class="img-responsive" src="http://wizdevel.com/beta/wp-content/uploads/2014/12/paypal-logo.png" alt="">
        </li>
        <li class="col-xs-4 col-sm-2 col-md-2"><img class="img-responsive" src="http://wizdevel.com/beta/wp-content/uploads/2014/12/bitcoin-logo.png" alt="">
        </li>
        <li class="col-xs-4 col-sm-2 col-md-2"><img class="img-responsive" src="http://wizdevel.com/beta/wp-content/uploads/2014/12/webmoney-logo.png" alt="">
        </li>
        <li class="col-xs-4 col-sm-2 col-md-2"><img class="img-responsive" src="http://wizdevel.com/beta/wp-content/uploads/2014/12/perfect-money-logo1.png" alt="">
        </li>
        <li class="col-xs-4 col-sm-2 col-md-2"><img class="img-responsive" src="http://wizdevel.com/beta/wp-content/uploads/2014/12/payza-logo.png" alt="">
        </li>
      </ul>


    </div>
  </article>