<div class="clearfix"></div>
  <article id="contact" class="non-parllax onepage-24 onepage" data-slide="24" style="background:;">
    <header class="article-head">
      <div class="container">
        <h1>Contact</h1>
      </div>
    </header>
    <div class="article-enclose container" style="padding-top:8%;padding-bottom:8%;">



      <div class="s-btn clearfix col-md-12 animated animation" data-animate="bounceInDown">
        <div class="hoveranime">
          <div class="hoveranime-tile">Hover</div>
          <div class="hoveranime-arrow">
            <img src="http://wizdevel.com/beta/wp-content/themes/grace/img/hoverarrow2.png" alt="">
          </div>

        </div>
        <section class="mail">
          <div class="button">
            <a href="#" title="" class="follow-btn">bj@wizdevel.com</a>
          </div>
          <div class="cover">
            <div class="innie"></div>
            <div class="spine"></div>
            <div class="outie"></div>
          </div>
          <div class="shadow"></div>
        </section>
        <section class="skype">
          <div class="button">
            <a href="#" title="" class="follow-btn">wizdevel</a>
          </div>
          <div class="cover">
            <div class="innie"></div>
            <div class="spine"></div>
            <div class="outie"></div>
          </div>
          <div class="shadow"></div>
        </section>
        <section class="gplus">
          <div class="button">
            <a href="#" title="r" class="follow-btn">wizdevel</a>
          </div>
          <div class="cover">
            <div class="innie"></div>
            <div class="spine"></div>
            <div class="outie"></div>
          </div>
          <div class="shadow"></div>
        </section>
        <section class="yahoo">
          <div class="button">
            <a href="#" title="" class="follow-btn">wizdevel@yahoo.com</a>
          </div>
          <div class="cover">
            <div class="innie"></div>
            <div class="spine"></div>
            <div class="outie"></div>
          </div>
          <div class="shadow"></div>
        </section>
        <section class="icq">
          <div class="button">
            <a href="#" title="" class="twitter-follow-btn">1234</a>
          </div>
          <div class="cover">
            <div class="innie"></div>
            <div class="spine"></div>
            <div class="outie"></div>
          </div>
          <div class="shadow"></div>
        </section>
      </div>
      <div class="wpcf7" id="wpcf7-f47-o1" lang="en-US" dir="ltr">
        <div class="screen-reader-response"></div>
        <form name="" action="/beta/#wpcf7-f47-o1" method="post" class="wpcf7-form" novalidate="novalidate">
          <div style="display: none;">
            <input type="hidden" name="_wpcf7" value="47" />
            <input type="hidden" name="_wpcf7_version" value="3.9.3" />
            <input type="hidden" name="_wpcf7_locale" value="en_US" />
            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f47-o1" />
            <input type="hidden" name="_wpnonce" value="f97dcbd3d2" />
          </div>
          <div class="form-enclose col-md-12 clearfix">
            <div class="form-left col-md-6 col-sm-6 sec-animation  animated animation" data-animate="slideInLeft">
              <label for="name">Name</label><span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="name" aria-required="true" aria-invalid="false" /></span>
              <label for="email">Email</label><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" id="email" aria-required="true" aria-invalid="false" /></span>
              <label for="subject">Subject</label><span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" id="subject" aria-required="true" aria-invalid="false" /></span>
            </div>
            <div class="form-right col-md-6 col-sm-6 sec-animation  animated animation" data-animate="slideInRight">
              <label for="umsg">Message</label><span class="wpcf7-form-control-wrap umsg"><textarea name="umsg" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" id="umsg" aria-required="true" aria-invalid="false"></textarea></span>
              <br />
              <input type="submit" value="Submit Query" class="wpcf7-form-control wpcf7-submit btn col-md-4 pull-right" />
            </div>
          </div>
          <div class="wpcf7-response-output wpcf7-display-none"></div>
        </form>
      </div>


    </div>
  </article>