<footer>
    <div class="footer-enclose">
      <div class="footer-top">
        <div class="connect-container container">
          <div class="footer-connect-wrapper clearfix">
            <ul class="footer-connect-list">
              <li class="fb">
                <a href="<%= @fb_link %>">
                  <i class="fa fa-facebook "></i>
                </a>
              </li>

              <li class="twitter">
                <a href="<%= @twitter_link %>">
                  <i class="fa fa-twitter "></i>
                </a>
              </li>
              <li class="google">
                <a href="<%= @gplus_link %>">
                <!-- https://plus.google.com/+wizdevel/ -->
                  <i class="fa fa-google-plus "></i>
                </a>
              </li>
              <li class="lin">
                <a href="<%= @linked_link %>">
                <!-- https://www.linkedin.com/in/wizdevel -->
                  <i class="fa fa-linkedin "></i>
                </a>
              </li>
              <li class="flicker">
                <a href="<%= @flicker_link %>">
                <!-- https://www.flickr.com/people/bannerist/ -->
                  <i class="fa fa-flickr"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-bottom">Made in India with ♥</div>
    </div>
  </footer>

  <!--=======Footer Ends=====-->
  <div class="folio-enclose-wrapper" id="folio-enclose-wrapper">
    <div class="folio-overlay">
      <div class="single-folio-wrapper clearfix" style="display:none" id="single-folio-wrapper">
        <div class="folio-single-close"></div>
        <div id="single-folio-image" class="single-folio-image col-md-6 clearfix">
        </div>
        <div class="single-folio-content-wrapper col-md-6" id="single-folio-content-wrapper">
          <h2></h2>
          <div id="folio-desc-content"></div>
        </div>
        <div class="row">
          <div class="col-md-12" id="folio-content">
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div id="single-folio-wrapper2" style="display:none">
        <div class="folio-single-close"></div>
        <div id="folio-single-auto"></div>
      </div>
    </div>
  </div>