 <div class="clearfix"></div>
  <article id="gmaps" class="parllax onepage-26 onepage" data-slide="26" style="background:;">
    <div class="article-enclose" style="padding-top:;padding-bottom:;">


      <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13637.879512880863!2d75.59739508100623!3d31.290755768537625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5bbc6ba51b5b%3A0xbf705c3a6ffa511f!2sUrban+Estate%2C+Jalandhar%2C+Punjab!5e0!3m2!1sen!2sin!4v1419705151202" width="600" height="450"></iframe>
      </div>


    </div>
  </article>