 <header class="big-header">



    <div class="header-container">
      <div class="top-logo-enclose">
        <div class="top-logo" style="animation-duration:1.5s;visibility:hidden">
          <img src="http://wizdevel.com/beta/wp-content/uploads/2016/07/png.png" style="margin:auto" class="img-responsive" alt="">
        </div>
      </div>
    </div>
    <div class="top-awe">
      <div class="awe-text hidden-xs hidden-sm">Experience Awesomeness</div>
      <div class="awe-arrow img-responsive hidden-xs hidden-sm"><img src="http://wizdevel.com/beta/wp-content/themes/grace/img/arrow.png" alt="">
      </div>
      <div class="awe-btn img-circle" id="next-slide">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
    <div class="grace-spinner-loader">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </header>