<header class="top-nav home-nav">
    <div class="container">
      <a href="http://wizdevel.com/beta " class="navbar-brand pull-left">
        <img src="http://wizdevel.com/beta/wp-content/uploads/2016/07/png.png" style="max-width:120px;margin:auto" alt="">
      </a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <nav class="navbar-collapse collapse" role="navigation">
        <ul id="gnav" class="navbar-nav nav pull-right">
          <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-onepage"><a href="http://wizdevel.com/beta#about" data-id="7" data-slug="?onepage=about">About</a>
          </li>
          <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-onepage"><a href="http://wizdevel.com/beta#services" data-id="10" data-slug="?onepage=services">Services</a>
          </li>
          <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-onepage"><a href="http://wizdevel.com/beta#featured" data-id="14" data-slug="?onepage=featured">Portfolio</a>
          </li>
          <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-onepage"><a href="http://wizdevel.com/beta#testimonial" data-id="16" data-slug="?onepage=testimonial">Testimonial</a>
          </li>
          <li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-onepage"><a href="http://wizdevel.com/beta#team" data-id="22" data-slug="?onepage=team">Team</a>
          </li>
          <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-onepage"><a href="http://wizdevel.com/beta#contact" data-id="24" data-slug="?onepage=contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>