<article class="portfolio non-parllax onepage-14 onepage" data-slide="14" id="portfolio">
    <header class="folio-head dark article-head" id="folio-head">

      <h1>Our Portfolio</h1>
      <div class="port-nav" style="display:none">
        <div class="prev-port-page port-page col-md-2" data-page="0" data-cat="all" data-enabled="true"><i class="fa fa-angle-left"></i> Back</div>
        <div class="port-nav-cat-enclose col-md-8">
          <div class="port-nav-cat-wrap tb">
            <ul class="port-nav-cat tb-cell">

              <li><a data-cat='featured' data-new-load="false" data-slide="0" id="feat-folio" href="">Featured</a>
              </li>
              <li><a data-cat='' data-new-load="false" data-slide="1" id="all-folio" href="">Recent</a>
              </li>

              <li><a class="port-cat-bit" data-cat="Banners" data-new-load="true" data-slide="0" href="#">Banners</a>
              </li>

              <li><a class="port-cat-bit" data-cat="Branding" data-new-load="true" data-slide="0" href="#">Branding</a>
              </li>

              <li><a class="port-cat-bit" data-cat="Logos" data-new-load="true" data-slide="0" href="#">Logos</a>
              </li>

              <li><a class="port-cat-bit" data-cat="WebDesign" data-new-load="true" data-slide="0" href="#">WebDesign</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="next-port-page port-page col-md-2" data-enabled="true" data-page="0" data-slide-no='1' data-cat="">Next <i class="fa fa-angle-right"></i>
        </div>
      </div>
      <div class="clearfix"></div>
    </header>

    <div class="article-enclose">
      <div class="article-container clearfix">
        <div class="folio-slider-wrapper clearfix" data-slide-count="1">
          <div class="folio-slider-enclose clearfix" data-slide-count="1">
          
            <div class="folio-slide clearfix" id="main-slide" data-slide-no="0" data-cat="featured" data-max-page="1" data-page="1">
              <div class="slide-ajax img-cirlce"></div>
              <% @first_slide.each_with_index do |ad, index=0| %>	
							
								<% if index%4 == 0 && index!= 0 && index!=8 %>
									</div><div class="clearfix"></div>
								<% end %>
								<% if index%4==0 && index!=8 %> 
									<div class="tile-row col-md-12 clearfix"> 
								<% end %>
								<% if index==6 %>
									<a data-id="<%= ad.title %>" data-clicked="false" class="folio-tile-a" href="">
		                <figure class="folio-next folio-tile col-xs-12  col-sm-6 col-md-6 " data-id="next-folio-screen">
											<div class="not-impress-wrapper tb" >
												<div class="not-impress tb-cell">
													<h2>
													<span class="right col-md-9 col-xs-9 col-sm-12">
													<span class="medium-text">Not Impressed?</span>
													<span class="large-text">Checkout our Complete Portfolio Here
													</span>
													</span>
													<span class="right col-md-2 col-xs-2 col-sm-12">	
														<span class="awe-btn img-circle" >
															<i class="pe-7s-angle-right"></i>
														</span>
													</span>
													</h2>
												</div>
											</div>
										</figure>
		              </a>
				          </div><div class="clearfix"></div>
		              <div class="tile-row col-md-12 clearfix">
		            <% end %>

                <a data-id="<%= ad.title %>" data-clicked="false" class="folio-tile-a" href="">
                  <figure class="folio-tile col-xs-6 col-sm-3  col-md-3 ">
                    <img src="<%= ad.featured_image.thumb.url %>" alt="">
                    <figcaption class="clearfix">
                      <div class="cpation-wrapper tb">
                        <div class="cpation-center tb-cell">
                          <h3><%= ad.title %></h3>
                          <div>
                            <ul class="folio-cat-ul">
                              <li>
                                Featured 
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </figcaption>
                  </figure>
                </a>       
              <% end %>
            </div><div class="clearfix"></div>
        		</div>

          	<div class="folio-slide clearfix" data-slide-no="1" data-cat="" data-max-page="1" data-page="1">
              <div class="slide-ajax img-cirlce"></div>
              <% @second_slide.each_with_index do |sec, i=0| %>	
							
								<% if i%4 == 0 && i!= 0 %>
									</div><div class="clearfix"></div>
								<% end %>
								<% if i%4==0 %> 
									<div class="tile-row col-md-12 clearfix"> 
								<% end %>
                <a data-id="<%= sec.title %>" data-clicked="false" class="folio-tile-a" href="">
                  <figure class="folio-tile col-xs-6 col-sm-3  col-md-3 ">
                    <img src="<%= sec.featured_image.thumb.url%>" alt="">
                    <figcaption class="clearfix">
                      <div class="cpation-wrapper tb">
                        <div class="cpation-center tb-cell">
                          <h3><%= sec.title %></h3>
                          <div>
                            <ul class="folio-cat-ul">
                              <li>
                                Featured 
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </figcaption>
                  </figure>
                </a>       
              <% end %>
            	</div><div class="clearfix"></div>
            </div>
					</div> 
	      </div>
	    </div>
	  </div>
  </article>

  <div class="clearfix"></div>