<!--=======Price-Table Start=====-->
				<article class="non-parllax">
					<header class="article-head">
						<div class="container">
						<h1>Plans</h1>
					</div>
					</header>
					<div class="article-enclose container">
						<div class="article-container">
							<div class="ptable-container col-md-12">
								<section class="ptable sec-animation col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4 animated animation" data-animate="slideInLeft">
								<ul>

									<li>Plan1</li>
									<li class="ptable-price">
										<span class="small">USD</span>
										$14.99
										<span class="sup-script">99</span>
									</li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li>
										<a href="" class="btn btn-primary">Buy Now</a>
									</li>
								</ul>
								</section>
								<section class="ptable col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4 animated animation" data-animate="bounceIn">
								<ul>

									<li>Plan1</li>
									<li class="ptable-price">
										<span class="small">USD</span>
										$14.99
										<span class="sup-script">99</span>
									</li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li>
										<a href="" class="btn">Buy Now</a>
									</li>
								</ul>
								</section>
								<section class="ptable sec-animation col-xs-8 col-xs-offset-2 col-sm-4  col-sm-offset-0 col-md-4 animated animation" data-animate="slideInRight">
								<ul>

									<li>Plan1</li>
									<li class="ptable-price">
										<span class="small">USD</span>
										$14.99
										<span class="sup-script">99</span>
									</li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li><span>Services</span></li>
									<li>
										<a href="" class="btn">Buy Now</a>
									</li>
								</ul>
								</section>
							</div>
						</div>
					</div>
				</article>
			<!--=======Price-Table End=====-->