<div class="clearfix"></div>
  <article id="services" class="parllax onepage-10 onepage" data-slide="10" style="background-image:url(http://wizdevel.com/beta/wp-content/uploads/2014/12/services.jpg);">
    <div class="article-enclose" style="padding-top:8%;padding-bottom:8%;">


      <div class="clearfix hex-wrapper hex-center sec-animation animated animation " data-animate="bounceIn">
        <div class="hexagon mleft black">
          <div class="hex-top"></div>
          <div class="paint hex-middle">
            <h3><%=  @s1.nil? ? " " : @s1 %></h3>
          </div>
          <div class="hex-bottom"></div>
        </div>
        <div id="hex-1" class="hidden-sm hidden-xs hexagon">
          <div class="hex-top"></div>
          <div class="hex-middle"></div>
          <div class="hex-bottom"></div>
        </div>
        <div id="hex-2" class="hidden-sm hidden-xs hexagon pink">
          <div class="hex-top"></div>
          <div class="hex-middle"></div>
          <div class="hex-bottom"></div>
        </div>
        <div class="hexagon black">
          <div class="hex-top"></div>
          <div class="brand hex-middle rev">
            <h3><%=  @s2.nil? ? " " : @s2 %></h3>
          </div>
          <div class="hex-bottom"></div>
        </div>
        <div class="clearfix"></div>
        <div class="hexagon m-m-top black">
          <div class="hex-top"></div>
          <div class="comp hex-middle">
            <h3><%=  @s3.nil? ? " " : @s3 %></h3>
          </div>
          <div class="hex-bottom"></div>
        </div>
        <div id="hex-6" class="hidden-sm hidden-xs hexagon m-m-top pink">
          <div class="hex-top"></div>
          <div class="hex-middle"></div>
          <div class="hex-bottom"></div>
        </div>
        <div class="hexagon m-m-top blue">
          <div class="hex-top"></div>
          <div class="hex-middle"></div>
          <div class="hex-bottom"></div>
        </div>
        <div id="hex-3" class="hidden-sm hidden-xs hexagon m-m-top">
          <div class="hex-top"></div>
          <div class="hex-middle"></div>
          <div class="hex-bottom"></div>
        </div>
        <div class="hexagon m-m-top black">
          <div class="hex-top"></div>
          <div class="digital hex-middle rev">
            <h3><%=  @s4.nil? ? " " : @s4 %></h3>
          </div>
          <div class="hex-bottom"></div>
        </div>
        <div class="clearfix"></div>
        <div class="hexagon m-m-top mleft black">
          <div class="hex-top"></div>
          <div class="code hex-middle">
            <h3><%=  @s5.nil? ? " " : @s5 %></h3>
          </div>
          <div class="hex-bottom"></div>
        </div>
        <div id="hex-5" class="hidden-sm hidden-xs hexagon m-m-top ">
          <div class="hex-top"></div>
          <div class="hex-middle"></div>
          <div class="hex-bottom"></div>
        </div>
        <div class="hidden-sm hidden-xs hexagon m-m-top blue">
          <div class="hex-top"></div>
          <div class="hex-middle"></div>
          <div class="hex-bottom"></div>
        </div>
        <div id="hex-4" class="hexagon m-m-top black">
          <div class="hex-top"></div>
          <div class="hex-middle videos rev">
            <h3><%=  @s6.nil? ? " " : @s6 %></h3>
          </div>
          <div class="hex-bottom"></div>
        </div>
      </div>


    </div>
  </article>