 <div class="clearfix"></div>
  <article id="team" class="parllax onepage-22 onepage" data-slide="22" style="background-image:url(http://wizdevel.com/beta/wp-content/uploads/2014/12/graphics-services.jpg);">
    <div class="article-enclose" style="padding-top:120px;padding-bottom:60px;">

      <div class="team-slider-wrapper-enclose">


        <div class="container" style="position:relative;overflow:visible;padding:0px;padding:0px;">
          <!--<div class="our-team-wrapper">
								<div class="our-team-text">Our Team
								</div>
								<div class="our-team-arrow"><img src="http://wizdevel.com/beta/wp-content/themes/grace/img/teamarrow.png" alt=""></div>
							</div>-->
          <div class="custom-wrapper">

            <ul class="clearfix team-ul">
            	<% @teams.each_with_index do |ad, index=1| %>  
              <li class="col-sm-4 col-md-4 " data-bg="img/sbg1.jpg">
                <figure class="team-slides">
                  <img class="img-responsive img-circle" src="<%= ad.profile.url %>" alt="">
                  <figcaption class="tb">

                    <div class="member-name tab-cell"><span class="member-desig"><%= ad.name %></span><%= ad.post %></div>

                  </figcaption>
                </figure>
              </li>
              <% end %>
              
            
            </ul>

          </div>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </article>