<div class="clearfix"></div>
  <article id="testimonial" class="non-parllax onepage-16 onepage" data-slide="16" style="background:;">
    <div class="article-enclose container" style="padding-top:8%;padding-bottom:8%;">
      <div class="tmonialslider-enclose col-md-offset-2 col-md-8">
        <div class="testimonial-quote">

        </div>
        <div class="testimonial-slider-images col-md-offset-2 col-md-8" style="padding:5%">
          <div class="row">
            <div class="tslide-img clearfix  pull-left" data-sid="0"><img class="img-responsive animated" data-animated="bounceIn" src="<%= @testimonial.first.profile_pic.url %>" alt="">
            </div>

            <div class="tslide-img clearfix  pull-right" data-sid="1"><img class=" img-responsive animated" data-animated="bounceIn" src="<%= @testimonial.second.profile_pic.url %>" alt="">
            </div>
          </div>
          <div class="row">
            <div class="center-tslide  clearfix tslide-img "><img class=" img-responsive animated" data-animated="bounceIn" src="<%= @testimonial.third.profile_pic.url %>" alt="">
            </div>
          </div>
          <div class="row">

            <div class="tslide-img clearfix  pull-right" data-sid="2"><img class=" img-responsive" src="<%= @testimonial.fourth.profile_pic.url %>" alt="">
            </div>
            <div class="tslide-img clearfix  pull-left" data-sid="3"><img class=" img-responsive animated" data-animated="bounceIn" src="<%= @testimonial.fifth.profile_pic.url %>" alt="">
            </div>


          </div>

        </div>
        <div class="clearfix"></div>
        <div class="testimonial-slider tslider-wrapper">
          <div class="testimonial-slider-enclose clearfix">

            <% @testimonial.each_with_index do |ad, index=1| %>
            <div class="tslide-wrapper col-md-12" data-sid="index">
              <div class="tcontent col-md-12">
              	<div><%= ad.star %></div>
                <p><%= ad.comment %> </p>
                <span class="tuser"><span><%= ad.client_name %></span> | <%= ad.company_name %> (Founder)</span>
              </div>
              <div class="clearfix"></div>
            </div>
						<% end %>

            </div>
          </div>
        </div>
      </div>


    </div>
  </article>
