<!--=======Parllax-video Start=====-->
	<article class="video-sect" style="position:relative">
	
	<div id="videobg" style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;overflow:hidden"></div>
	<div class="dots" style="z-index:3"></div>
	<div class="video-overlay" style="z-index:4">
	</div>

		<div class="article-enclose container "  style="position:relative;z-index:5">
			
			<div class="article-container col-md-6 col-md-offset-3 stats" >
				<div class="counterwrapper" style="text-align:center;color:#fff;margin:20px 0px;"><span class="top animated animation" data-animate="slideInRight">We have served over</span> <span class="counter animation  animated" data-animate="slideInLeft"><%= @number %></span> <span class="bottom animation animated" data-animate="slideInRight">Clients all around the World</span></div>
			</div>
	</div>
		
		
	</article>
<!--=======Parllax-video End=====-->
<div class="clearfix"></div>