
	<%= render 'header'%>
	<%= render 'nav' %>
	<%= render 'about'%>
	<%= render 'services' %>
	<%= render 'portfolio'%>
	<%= render 'pricing' %>
	<%= render 'video' %>
	<%= render 'blog' %>
	<%= render 'team' %>
	<%= render 'testimonials'%>
	<%= render 'contact'%>
	<%= render 'gmap' %>
	<%= render 'clients'%>
	<%= render 'footer' %>
