.sidebar{
	background-color: #666;
	height:100%;
}

.links{
	margin-bottom: 0px;
	padding-left: 0px;
}

.links li{
	list-style: none;
	padding: 20px;
	cursor: pointer;
	a{
		color: white;
		font-size: 16px;
		text-decoration: none;
		background-color: transparent;
	}
}

.links li:hover{
	background-color: #4d4b4b;
}
.heading{
	text-align : center;
	padding:20px 0;
}

.portfolio-form{
	padding:15px;
	display: inline-block;
	h1{
		margin-top: 0;
	}
}


/* forms */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

.space{
	margin: 15px;
	margin-left:0;
	padding:5px;
}

.display-table{
	thead{
		margin:10px;
	}
	tr{
		padding:10px;
	}

}

 .showImage{
 	width:100%;
 }