/*
Theme Name: Grace
Theme URI: http://pixvy.com
Author: Pixvy Team
Author URI: http://pixvy.com
Description: Grace Awesome OnePage Parllax Theme
Version: 1.0
Tags: onepage
*/

/*=======Importing Fonts====*/
/*=======Importing fonts=====*/
/*=======General Styling=====*/

html,body{
height:100%;
width:100%;
font-family:'Open Sans', sans-serif;
font-weight:300;
font-size:18px;
color:#606060;
background:#fafafa;
text-shadow:rgba(0,0,0,.01) 0 0 1px;
}

a{
  text-decoration:none;
   outline: none;
}

a:focus{
  outline: none;
}

img{
max-width:100%;
}
.sec-animation{
/*animation-duration*/
-webkit-animation-duration:1s;
   -moz-animation-duration:1s;
    -ms-animation-duration:1s;
     -o-animation-duration:1s;
        animation-duration:1s;
}
.container{
position:relative;
overflow:hidden;
}
a{
color:#171b1e;
text-decoration:none;
}
a:hover,a:focus{
text-decoration:none;
border:none;
color:#171b1e;
border-bottom:1px dotted #171b1e;
}
.btn{
width:auto;
margin-top:20px;
background:#3895de;
color:#fff;
text-align:center;
border:none;
/*box-shadow*/
-webkit-box-shadow:none;
   -moz-box-shadow:none;
        box-shadow:none;
}
h1,h2,h3,h4,h5{
font-family:'Open Sans', sans-serif;
font-weight:300;
margin-bottom:0px;
}
.btn{
/*border-radius*/
-webkit-border-radius:0px;
   -moz-border-radius:0px;
        border-radius:0px;
padding:10px;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.gallery-caption{}
.bypostauthor {}
/*=======General Styling=====*/
/*=======Header Styling=====*/
  header.big-header{
position:relative;
width:100%;
height:100%;
background:#171b1e;
color:#fff;
z-index:100000;
overflow:hidden;
}

.js .big-header{
  position:fixed;
  margin-top:0px;
}


.top-logo{
margin:auto!important;
width:330px;
}

.js .top-logo{
  visibility: hidden;
}


.header-container{
  z-index:50;
  background:rgba(0,0,0,.3);
}


.header-container,.tb{
position:relative;
width:100%;
height:100%;
display:table;
}
.header-container .top-logo-enclose,.tb-cell{
display:table-cell;
vertical-align:middle;
text-align:center;
}
.top-awe{
position:absolute;
bottom:4%;
left:50%;
margin-left:-35px;
color:rgba(255,255,255,.7);
/*transition*/
-webkit-transition:.2s all ease-out;
   -moz-transition:.2s all ease-out;
     -o-transition:.2s all ease-out;
        transition:.2s all ease-out;
}
.top-awe:hover{
color:#fff;
cursor:pointer;
}

.js .top-awe{
  display:none;
  visibility:hidden;
  z-index:50;
}


.awe-text{
position:absolute;
width:240px;
margin-left:-215px;
top:-20%;
left:0;
/*transform*/
-webkit-transform:rotate(-25deg);
   -moz-transform:rotate(-25deg);
    -ms-transform:rotate(-25deg);
     -o-transform:rotate(-25deg);
        transform:rotate(-25deg);
/*transition*/
-webkit-transition:.4s all;
   -moz-transition:.4s all;
     -o-transition:.4s all;
        transition:.4s all;
font-family:'jenna_sueregular';
font-size:36px;
}
.awe-arrow{
position:absolute;
left:-120%;
top:25%;
opacity:.7;
/*transition*/
-webkit-transition:.4s all;
   -moz-transition:.4s all;
     -o-transition:.4s all;
        transition:.4s all;
}
.awe-btn{
width:65px;
height:65px;
border:1px solid rgba(255,255,255,.4);
font-size:48px;
line-height:65px;
color:rgba(255,255,255,.4);
text-align:center;
font-weight:300;
/*transition*/
-webkit-transition:.2s all ease-out;
   -moz-transition:.2s all ease-out;
     -o-transition:.2s all ease-out;
        transition:.2s all ease-out;
}
.top-awe:hover .awe-text{
top:-120px;
margin-left:-75px;
/*transform*/
-webkit-transform:rotate(0deg);
   -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
     -o-transform:rotate(0deg);
        transform:rotate(0deg);
color:rgba(255,255,255,.7);
}
.top-awe:hover .awe-btn{
border-color:#fff;
color:#fff;
/*box-shadow*/
-webkit-box-shadow:0px 0px 1px 0px rgba(255,255,255,.3);
   -moz-box-shadow:0px 0px 1px 0px rgba(255,255,255,.3);
        box-shadow:0px 0px 1px 0px rgba(255,255,255,.3);
}
.top-awe:hover .awe-arrow{
opacity:1;
top:-60px;
left:10px;
/*transform*/
-webkit-transform:rotate(90deg);
   -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
     -o-transform:rotate(90deg);
        transform:rotate(90deg);
}

    /*header slider*/
     .home-bx-slider-wrapper-container{
        position:absolute;
        width:100%;
        height:100%;
        overflow:hidden;

      }
    
      .js .home-bx-slider-wrapper-container{
        visibility: hidden;
      }
  

       #home-bx-slider-wrapper{
        width:100%!important;
        height:100%!important;
        overflow:hidden;
       }

      .home-bx-slides{
        width:100%!important;
        height:100%!important;
        background-size:cover;
      }

    .home-bx-slides.rslides1_on{
/*animation*/
-webkit-animation:mymove 5s infinite;
   -moz-animation:mymove 5s infinite;
    -ms-animation:mymove 5s infinite;
     -o-animation:mymove 5s infinite;
        animation:mymove 5s infinite;
/*animation-delay*/
-webkit-animation-delay:.5s;
   -moz-animation-delay:.5s;
    -ms-animation-delay:.5s;
     -o-animation-delay:.5s;
        animation-delay:.5s;
}
@keyframes mymove{
to{
          transform:scale(2);
       }
}

    /*hEader slider*/
    /*header loader animation*/

    .grace-spinner-loader {
  margin: 100px auto 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  position:absolute;
  bottom:20px;
  left:50%;
  margin-left:-25px;
  z-index:50;
}

.grace-spinner-loader > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.grace-spinner-loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.grace-spinner-loader .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.grace-spinner-loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.grace-spinner-loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}
/*header loader animation*/

/*=======Header Styling=====*/
/*=======Article Styling=====*/
  article header{
background:#fafafa;
border-bottom:1px solid #d8d8d8;
}
header.dark.article-head{
background:#171b1e;
color:#fff;
}
header.dark.article-head h1{
text-align:center;
color:#fff;
}
article header h1{
color:#b5b5b5;
font-weight:300;
font-size:24px;
margin-top:0px;
padding:15px 0px;
}
article blockquote{
border:none;
font-size:33px;
line-height:40px;
padding-left:0px;
}
.article-enclose{
padding-top:8%;
padding-bottom:8%;
overflow:hidden;
}
.specialities-ul{
padding:0px;
margin-top:5%;
clear:both;
}
.specialities-ul li{
list-style:none;
padding:0px;
margin-left:3%;
}
.specialities-ul li section h3{
margin-bottom:10px;
}
.spcl-fig{
border:1px solid #818181;
height:75px;
width:75px;
margin:auto;
line-height:75px;
font-size:42px;
text-align:center;
/*transition*/
-webkit-transition:.8s all ease-out;
   -moz-transition:.8s all ease-out;
     -o-transition:.8s all ease-out;
        transition:.8s all ease-out;
}
.spcl-fig i{
font-size:45px;
text-align:center;
vertical-align:middle;
line-height:75px;
}
.specialities-ul li:hover .spcl-fig{
color:#fff!important;
cursor:pointer;
background:#818181;
/*transform*/
-webkit-transform:rotatey(360deg);
   -moz-transform:rotatey(360deg);
    -ms-transform:rotatey(360deg);
     -o-transform:rotatey(360deg);
        transform:rotatey(360deg);
           border:none;
}



  .specialities-ul li:hover .spcl-fig.grey{
background:#63B863;
}
.specialities-ul li:hover .spcl-fig.green{
background:#9C72C7;
}
.specialities-ul li:hover .spcl-fig.blue{
background:#54c6f6;
}
.specialities-ul li:hover .spcl-fig.red{
background:#ff6b6b;
}
.specialities-ul li:hover .spcl-fig.yellow{
background:#fec861;
}
.specialities-ul li{
font-size:13px;
line-height:18px;
text-align:center;
}
/*=======Article Styling=====*/
/*=======Parallax Styling=====*/

  .hex-wrapper{
}



.hex-wrapper{
width:640px;
margin:auto;
}
.hexagon{
float:left;
margin-left:8px;
position:relative;
}
.hexagon.mleft{
margin-left:72.5px;
}
.hexagon.m-m-top{
margin-top:-30px;
}
.hex-top{
width:0;
border-bottom:37px solid rgba(227,227,227,.8);
border-left:60px solid transparent;
border-right:60px solid transparent;
}
.hex-middle{
width:120px;
height:65px;
background-color:rgba(227,227,227,.8);
}
.hex-bottom{
width:0px;
border-top:37px solid rgba(227,227,227,.8);
border-left:60px solid transparent;
border-right:60px solid transparent;
}
.pink .hex-top{
border-bottom:37px solid rgba(238,101,87,.4);
}
.pink .hex-middle{
background-color:rgba(238,101,87,.4);
}
.pink .hex-bottom{
border-top:37px solid rgba(238,101,87,.4);
}
.blue .hex-top{
border-bottom:37px solid rgba(22,166,182,.4);
}
.blue .hex-middle{
background-color:rgba(22,166,182,.4);
}
.blue .hex-bottom{
border-top:37px solid rgba(22,166,182,.4);
}
.black .hex-top{
border-bottom:37px solid #171b1e;
}
.black .hex-middle{
background-color:#171b1e;
}
.black .hex-bottom{
border-top:37px solid #171b1e;
}
.hexagon .paint.hex-middle{
background:asset-url("paint.png") no-repeat center #171b1e!important;
}
.hexagon .comp.hex-middle{
background:asset-url("comp-ico.png") no-repeat center #171b1e!important;
}
.hexagon .code.hex-middle{
background:asset-url("code-ico.png") no-repeat center #171b1e!important;
}
.hexagon .brand.hex-middle{
background:asset-url("brand-ico.png") no-repeat center #171b1e!important;
}
.hexagon .digital.hex-middle{
background:asset-url("digital-ico.png") no-repeat center #171b1e!important;
}
.hexagon .videos.hex-middle{
background:asset-url("vfx-ico.png") no-repeat center #171b1e!important;
}
.hexagon .hex-middle h3{
width:0%;
display:none;
/*transition*/
-webkit-transition:1s all ease-out;
   -moz-transition:1s all ease-out;
     -o-transition:1s all ease-out;
        transition:1s all ease-out;
}
.hexagon .hex-middle h3{
min-width:145%;
display:block;
position:absolute;
margin-top:5px;
text-align:center;
right:100%;
padding-bottom:5px;
color:#171b1e;
border-bottom:1px solid #171b1e;
padding-right:20px;
padding-left:20px;
font-family: 'Roboto Condensed', sans-serif;
}
.hexagon .hex-middle.rev h3{
width:auto;
display:block;
position:absolute;
left:auto;
left:100%;
padding-bottom:5px;
color:#171b1e;
border-bottom:1px solid #171b1e;
padding-right:20px;
padding-left:20px;
font-family: 'Roboto Condensed', sans-serif;
}

  .hexagon .hex-middle h3:before{
height:5px;
width:5px;
background:#000;
display:block;
content:'';
position:absolute;
left:0px;
bottom:-3px;
margin-top:-50%;
}
.hexagon .hex-middle.rev h3:before{
height:5px;
width:5px;
background:#000;
display:block;
content:'';
left:auto;
position:absolute;
right:0px;
bottom:-3px;
margin-top:-50%;
}
/*=======Parallax Styling=====*/
  /*=======Price Table Styling=====*/
    .ptable ul{
padding:10px;
border:1px solid #e3e3e3;
}
.ptable ul{
list-style:none;
padding:0px;
}
.ptable ul li{
min-height:45px;
line-height:45px;
font-size:24px;
text-align:center;
margin-bottom:10px;
}
.ptable ul li span{
border-bottom:1px solid #e6e6e6;
padding-bottom:10px;
padding-left:20px;
padding-right:20px;
}
.ptable .btn{
background:inherit;
border:1px solid #e6e6e6;
color:#606060;
padding-left:20px;
padding-right:20px;
margin-top:10px;
margin-bottom:10px;
/*border-radius*/
-webkit-border-radius:0px;
   -moz-border-radius:0px;
        border-radius:0px;
/*transition*/
-webkit-transition:.2s all ease-out;
   -moz-transition:.2s all ease-out;
     -o-transition:.2s all ease-out;
        transition:.2s all ease-out;
}
.ptable .btn:hover{
background:#59b4f8;
color:#fff;
}
.ptable-price{
background:#2a2e30;
color:#fff;
/*transition*/
-webkit-transition:.4s all ease-out;
   -moz-transition:.4s all ease-out;
     -o-transition:.4s all ease-out;
        transition:.4s all ease-out;
}
.ptable .ptable-price span{
padding:0px;
font-size:12px;
border:none;
}
.ptable-price .sup-script{
position:relative;
top:-10px;
}
.ptable:hover .ptable-price{
background:#59b4f8;
}
.ptable:hover ul{
/*box-shadow*/
-webkit-box-shadow:0px 0px 1px 0px #59b4f8;
   -moz-box-shadow:0px 0px 1px 0px #59b4f8;
        box-shadow:0px 0px 1px 0px #59b4f8;
}
  /*=======Price Table Styling=====*/
  /*=======Parllax video Styling=====*/
  /*=======Parllax video Styling=====*/
    


.video-overlay{
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
height:100%;
width:100%;
}
.dots{
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
height:100%;
width:100%;
}
.video-overlay{
background:rgba(0,0,0,1);
}
.dots{
background:asset-url("dot.png");
}
.stats{
font-size:24px;
}
.counterwrapper{
font-size:36px;
text-align:center;
}
.counterwrapper span{
display:block;
line-height:30px;
}
.counterwrapper .counter{
display:inline-block!important;
text-align:center;
padding-left:10px;
padding-right:20px;
font-size:150px;
line-height:150px;
font-weight:700;
font-style:italic;
}
/*=======Testimonial Styling=====*/
    .tslider-wrapper .slide-wrapper{
margin-top:20px!important;
}
.tslider-wrapper .tslide-wrapper .figure{
padding:0px;
padding-top:0px;
position:relative;
_-moz-transition:all .4s ease-in;
/*transition*/
-webkit-transition:all .4s ease-in;
   -moz-transition:all .4s ease-in;
     -o-transition:all .4s ease-in;
        transition:all .4s ease-in;
}
.tslide-wrapper img{
margin:auto;
/*transition*/
-webkit-transition:all .4s ease-in;
   -moz-transition:all .4s ease-in;
     -o-transition:all .4s ease-in;
        transition:all .4s ease-in;
}


    .tcontent span{
display:block;
margin-top:10px;
color:#919191;
}
.tcontent{
margin-top:60px;
}
.testimonial-slider .tslide-wrapper{
text-align:center;
}
.testimonial-slider-images .tslide-img{
opacity:.2;

}

.tmonialslider-enclose,.testimonial-slider-enclose{
  position:relative;
}


.grace-testimonial-control-nav{
  width:160px;
  position:absolute;
  left:50%;
  margin-left:-80px;
  top:450px;
  z-index:100;
   padding:0px;
}

.grace-testimonial-control-nav li a:after{
  content:"";
  display:inline-block;
  width:15px;
  height:2px;
  background:#afafaf;
  position:absolute;
  right:-19px;
  top:6px;
}

.tuser span{
  display:inline;
  color:#3a96db;
}


.grace-testimonial-control-nav li:last-of-type a:after{
  display:none;
}

.grace-testimonial-control-nav li{
  width:15px!important;
  height:15px!important;
  display:inline-block;
  border:1px solid #afafaf;
  border-radius: 100%;
  text-align:center;
  margin-left:20px;
  position:relative;
}
.grace-testimonial-control-nav li a,.grace-testimonial-control-nav li a:hover{
cursor: pointer;
border-radius:100%;
color:rgba(0,0,0,0);
height:9px!important;
width:9px!important;
display:inline-block;
margin:2px;
border:none;

}

.grace-testimonial-control-nav li a.grace-testimonial-active{
  background:#afafaf;
}
.tslide-img{
/*transform*/
-webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
     -o-transform:rotate(45deg);
        transform:rotate(45deg);
border:1px solid #fafafa;
overflow:hidden;
width:100px!important;
height:100px!important;
vertical-align:middle;
}
.tslide-img img{
/*transform*/
-webkit-transform:scale(1.5) rotate(-45deg);
   -moz-transform:scale(1.5) rotate(-45deg);
    -ms-transform:scale(1.5) rotate(-45deg);
     -o-transform:scale(1.5) rotate(-45deg);
        transform:scale(1.5) rotate(-45deg);
width:100px!important;
height:100px!important;
}
.center-tslide{
width:240px!important;
height:240px!important;
margin:auto;
}
.center-tslide img{
width:240px!important;
height:240px!important;
}
.testimonial-slider-images .center-tslide{
opacity:1;
}

.tmonialslider-enclose{
  position:relative;
}

.testimonial-quote{
  font-size:400px;
  font-weight:bold;
  width:150px;
  height:150px;
  font-family: Arial;
  position:absolute;
  right:-150px;
  top:-50px;
  background:asset-url('test-quote.png') no-repeat center;
  color:#e7e7e7;
}
/*=======Testimonial Styling=====*/
  /*=======Portfolio Styling=====*/
   
    .portfolio .article-enclose{
padding:0px;
color:#fff;
}
.parllax{
min-height:420px;
/*background-size*/
-webkit-background-size:cover;
   -moz-background-size:cover;
     -o-background-size:cover;
        background-size:cover;
background-attachment:fixed;
}

.parllax .article-enclose{
padding-top:0%;
padding-bottom:0%;
}

.videobg{
  min-height:540px;
  position:relative;
  overflow:hidden;
}

.portfolio header{
border:0px;
}
.tile-row{
padding:0px;
margin-bottom:-1px;
}
.folio-tile{
position:relative;
padding:0px;
overflow:hidden;
}
.folio-tile figure{
padding:0px!important;
margin:0px!important;
}
.folio-tile img{
width:100%!important;
height:auto;
margin:auto;
/*transition*/
-webkit-transition:all .4s ease-in;
   -moz-transition:all .4s ease-in;
     -o-transition:all .4s ease-in;
        transition:all .4s ease-in;
}
.folio-tile-a:hover figure img{
/*transform*/
-webkit-transform:scale(1.4) rotate(-10deg);
   -moz-transform:scale(1.4) rotate(-10deg);
    -ms-transform:scale(1.4) rotate(-10deg);
     -o-transform:scale(1.4) rotate(-10deg);
        transform:scale(1.4) rotate(-10deg);

}

.folio-tile figcaption{
position:absolute;
bottom:-100%;
width:100%;
height:100%;
color:#fff;
opacity:0;
/*transition*/
-webkit-transition:all .4s ease-out;
   -moz-transition:all .4s ease-out;
     -o-transition:all .4s ease-out;
        transition:all .4s ease-out;
padding:0px 10px;
text-align:center;
}
.folio-tile:hover figcaption{
position:absolute;
bottom:0;
opacity:1;
}
.folio-tile h3{
margin-bottom:20px;
display:inline-block;
margin:auto;
padding:10px 15px;
}
.folio-tile-a:nth-child(n) .folio-tile figcaption{
background:rgba(48,151,228,.9);
}
.folio-tile-a:nth-child(2n) .folio-tile figcaption{
background:rgba(233,91,55,.9);
}


    .folio-slide:nth-child(n){
background:#171b1e;
}
.folio-slide:nth-child(2n){

background:rgba(48,151,228,1);
}
.tile-row{
overflow:hidden!important;
}
.not-impress-wrapper{
position:relative;
width:100%;
overflow:hidden;
height:100%;
}
.not-impress-wrapper h2{
line-height:63px;
margin-top:0px;
color:#fff;
}
.not-impress-wrapper .medium-text,.not-impress-wrapper .large-text{
text-align:left;
display:block;
padding-left:20%;
line-height:42px;
}
.not-impress h2 .awe-btn{
margin-top:20px;
display:inline-block;
/*transition*/
border-color:#fff!important;
-webkit-transition:all .8s;
   -moz-transition:all .8s;
     -o-transition:all .8s;
        transition:all .8s;
}

.not-impress h2 .awe-btn i{
color:#fff!important;
}
.not-impress h2:hover .awe-btn{
/*transform*/
-webkit-transform:rotate(180deg);
   -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
     -o-transform:rotate(180deg);
        transform:rotate(180deg);
}
.not-impresse-wrapper,.folio-next{
background:#171b1e;
color:#fff;
overflow:hidden;
}
.folio-slide{
position:relative;
height:100%;
}
.slide-ajax{
width:200px;
height:200px;
position:absolute;
left:50%;
top:50%;
margin-top:-100px;
margin-left:-100px;
display:block;
background:asset-url('301.gif') center no-repeat transparent;
}
.single-folio-element{
border-top:1px solid rgba(255,255,255,.6);
min-height:520px;
background:#171b1e;
color:#fff!important;
}
.single-folio-element .bx-wrapper,.single-folio-element .bx-wrapper a{
color:#fff!important;
}
.folio-head.article-head{
padding:0px!important;
}
.port-nav{
font-size:18px;
line-height:30px;
}
.port-nav-cat{
list-style:none;
}
.port-nav-cat li{
display:inline;
margin-right:5px;
padding:5px 10px;
color:#fff!important;
border:1px solid transparent;
/*transition*/
-webkit-transition:all .8s;
   -moz-transition:all .8s;
     -o-transition:all .8s;
        transition:all .8s;
}
.port-nav-cat li:hover,
    .port-nav-cat li.active{
border-color:#fff;
border:1px solid #a3a3a3;
color:#fff;
}
.port-nav-cat li a{
color:#fff;
}
.port-nav-cat li:hover a{
color:#fff;
}
.port-page{
background:#3895de;
color:#fff;
height:100%;
text-align:center;
}

.port-page:hover{
  cursor:pointer;
}

.port-page,.port-nav-cat{
padding:15px 0;
}
#portfolio{
position:relative;
z-index:1;
}
.folio-head-fixed{
position:fixed;
z-index:99;
top:0;
left:0;
width:100%;
opacity:.8;
}
#portfolio .article-enclose{
position:relative;
z-index:90;
}

.folio-cat-ul{
  list-style:none;
  padding:0px;
}

.folio-cat-ul li{
  padding:2px;
  display:inline;
  margin:auto;
  margin-bottom:2px;
  margin-top:5px;
  display:block;
}

.folio-cat-ul li:before,.folio-cat-ul li:after{
  content:"|";
}

    /*===folio-single===*/
      .folio-enclose-wrapper{
background:rgba(30,30,30,.7);
position:fixed!important;
top:0px;
left:0px;
width:100%;
height:100%;
z-index:500000;
overflow-y:scroll;
}
#folio-enclose-wrapper{
display:none;
}
.folio-overlay{
height:100%;
display:block;
padding:5%;
text-align:center;
}

#folio-single-auto{
  width:auto;
}

#single-folio-content-wrapper h2{
  text-align:center;
}

#single-folio-wrapper2{
  background:#1e1e1e;
  color:#ffffff;
  padding:20px;
  position:relative;
  text-align:center;
  display:inline-block;
}


.single-folio-wrapper{
background:#1e1e1e;
color:#ffffff;
padding:5%;
position:relative;
font-size:16px;
max-width:1170px;
margin:auto;
}
.folio-single-close{
height:33px;
width:33px;
background:asset-url('close.png') center no-repeat;
position:absolute;
top:-15px;
right:-15px;
cursor:pointer;
}

.folio-single-close .folio-content{
  margin-top:20px;
  border-top:1px solid #bababa;
  padding-top:40px;
}

.single-folio-wrapper h2{
margin-top:0px;
margin-bottom:20px;
}
.single-folio-image{
padding-left:0px;
}
.single-folio-content-wrapper{
}
.single-folio img{
width:100%;
height:100%;
}
.publish-details{
list-style:none;
padding:0px;
}
.publish-details li span.bit{
background:#292929;
float:left;
clear:both;
width:30%;
margin-right:1%;
text-align:center;
display:block;
margin-bottom:5px;
color:#bababa;
}

.publish-details span{
float:left;
width:65%;
line-height:30px;
margin-left:1%
}

.publish-details li{
clear:both;
}
/*===folio-single===*/
  /*=======Portfolio Styling=====*/
  /*=======Blog Styling=====*/
    .blog-post-tile h2{
color:#050505;
margin-top:10px;
}
.blog-tile-post-info{
padding:0px;
list-style:none;
}
.blog-tile-post-info li{
display:inline;
font-size:13px;
}
.blog-tile-post-info li:after{
content:'|';
margin-left:5px;
color:#000;
}
.blog-tile-post-info li:last-of-type:after{
content:'';
}
.blog-tile-content{
color:#606060;
line-height:28px;
}
.btn#go-to-blog{
display:block;
width:30%;
font-size:24px;
font-weight:300;
line-height:40px;
color:#3895de;
background:#fafafa;
border:1px solid #3895de;
padding:8px 15px;
text-align:center;
margin:auto;
margin-top:40px;
font-weight:400;
text-transform:uppercase;
/*transition*/
-webkit-transition:all .4s;
   -moz-transition:all .4s;
     -o-transition:all .4s;
        transition:all .4s;
}
.btn#go-to-blog:hover{
color:#fff;
background:#3895de;
}

.comment-list{
  list-style:none;
}

.comment-list ul{
  list-style:none;
}

.comment-author{
  margin:20px auto;
}

.form-allowed-tags{
    width:80%;
}

.form-allowed-tags code{
  white-space:normal;

}
/*=======Blog Styling=====*/
  /*=======TeamSlider Styling=====*/
    
    .our-team-wrapper{
position:absolute;
top:-40px;
left:-20px;
display:inline-block;
overflow:visible;
}
.our-team-text{
/*transform*/
-webkit-transform:rotate(-25deg);
   -moz-transform:rotate(-25deg);
    -ms-transform:rotate(-25deg);
     -o-transform:rotate(-25deg);
        transform:rotate(-25deg);
font-family:'jenna_sueregular';
font-size:36px;
}
.our-team-arrow{
position:relative;
left:50%;
}
#team-slider-main-div{
padding:60px 0;
padding-top:120px;
min-height:512px;
background:asset-url('sbg3.jpg') no-repeat transparent;
   -moz-background-size:cover;
        background-size:cover;
background-attachment:fixed;
}
#team-slider-main-div .container{
padding-top:0px;
padding-bottom:0px;
}
.bg-slider-enclose{
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
}
.bg-slides{
height:100%;
width:100%;
min-height:520px;
/*background-size*/
   -moz-background-size:cover;
        background-size:cover;
}
.bg-slides:nth-of-type(2n){
background:asset-url('slide2.jpg') no-repeat;
}
.team-slider-wrapper-center{
max-width:400px;
margin:auto;
}
.team-slides{
/*transform*/
-webkit-transform:scale(.75);
   -moz-transform:scale(.75);
    -ms-transform:scale(.75);
     -o-transform:scale(.75);
        transform:scale(.75);
/*transition*/
-webkit-transition:all .4s ease-in;
   -moz-transition:all .4s ease-in;
     -o-transition:all .4s ease-in;
        transition:all .4s ease-in;
}
.team-slides img{
margin:auto;
width:80%;
}
.team-slides.active,.team-slides:hover,.team-slides.flex-active-slide{
/*transform*/
-webkit-transform:scale(1);
   -moz-transform:scale(1);
    -ms-transform:scale(1);
     -o-transform:scale(1);
        transform:scale(1);
}
.team-slides figcaption,.member-name,.member-enclose{
position:relative;
top:-10px;
margin:auto;
}
.member-desig{
background:#3895de;
color:#fff;
padding:5px 10px;
display:inline-block;
position:absolute;
right:0px;
top:-30px;
font-size:16px;
}
.member-name{
background:#171b1e;
color:#fff;
padding:9px 15px;
display:inline-block;
position:absolute;
left:50%;
margin-left:-20%;
}
.team-slides.active .member-name,.team-slides:hover .member-name{
display:inline-block;
}
.flex-disabled{
display:none;
}
/***test team***/
   #carousel{
max-width:1170px;

margin:0 auto;
overflow:hidden;
}
#slides{
overflow:visible;
/* fix ie overflow issue */
position:relative;
max-width:1170px;
height:auto;
margin:auto;
}
/* remove the list styles, width : item width * total items */    
    #slides ul{
position:relative;
left:0;
top:0;
list-style:none;
margin:0;
padding:0;
width:1170px;
}
/* width of the item, in this case I put 250x250x gif */
    #slides li{

height:350px;
float:left;
}
#slides li img{
padding:5px;
}
/* Styling for prev and next buttons */
    #buttons{
padding:0 0 5px 0;
float:right;
}
#buttons a{
display:block;
width:31px;
height:32px;
text-indent:-999em;
float:left;
outline:0;
}
a#prev{
background:asset-url('arrow.gif') 0 -31px no-repeat;
}
a#prev:hover{
background:asset-url('arrow.gif') 0 0 no-repeat;
}
a#next{
background:asset-url('arrow.gif') -32px -31px no-repeat;
}
a#next:hover{
background:asset-url('arrow.gif') -32px 0 no-repeat;
}
.clear{
clear:both;
}

.team-ul{
  list-style: none!important;
  padding:0px;
}

.team-ul li{
  margin-bottom:60px;
}

/*=======TeamSlider Styling=====*/
  /*=======contact Styling=====*/
    .contact-list{
list-style:none;
padding:0px;
}
.contact-list li{
display:inline-block;
width:24%;
box-sizing:border-box;
-moz-box-sizing:border-box;
text-align:center;
}
.form-enclose{
margin-top:40px;
}
.form-enclose label{
display:block;
font-weight:300;
margin:10px 0px;
cursor:pointer;
}
.form-enclose input,.form-enclose textarea,input{
display:block;
padding:5px;
width:100%;
border:none;
/*box-shadow*/
-webkit-box-shadow:0px 0px 1px 1px #e3e3e3;
   -moz-box-shadow:0px 0px 1px 1px #e3e3e3;
        box-shadow:0px 0px 1px 1px #e3e3e3;
/*transition*/
-webkit-transition:.4s all;
   -moz-transition:.4s all;
     -o-transition:.4s all;
        transition:.4s all;
}
.form-enclose input:hover,.form-enclose textarea:hover,input:hover,textarea:hover{
/*box-shadow*/
-webkit-box-shadow:0px 0px 2px 1px #a7a7a7;
   -moz-box-shadow:0px 0px 2px 1px #a7a7a7;
        box-shadow:0px 0px 2px 1px #a7a7a7;
}
.form-enclose input:focus,.form-enclose textarea:focus,input:focus,textarea:focus{
/*box-shadow*/
-webkit-box-shadow:0px 0px 1px 1px #3895de;
   -moz-box-shadow:0px 0px 1px 1px #3895de;
        box-shadow:0px 0px 1px 1px #3895de;
}

input,textarea{
  width:80%;
  display:block;
}

.form-enclose textarea{
height:205px;
}
.form-left{
padding-left:0px;
}
.form-right{
padding-right:0px;
}
.form-enclose input[type="submit"]{
width:auto;
margin-top:20px;
background:#3895de;
color:#fff;
text-align:center;
border:none;
/*box-shadow*/
-webkit-box-shadow:none;
   -moz-box-shadow:none;
        box-shadow:none;
        padding:8px 15px;
        font-size:16px;
}
.contact-ico{
font-size:24px;
}
.contact-icon{
padding:8px;
min-width:50px;
color:#fff;
display:inline-block;
text-align:center;
/*transition*/
-webkit-transition:.4s all;
   -moz-transition:.4s all;
     -o-transition:.4s all;
        transition:.4s all;
background:#171b1e;
}
/*=======contact Styling=====*/
  /*=======googlemaps Styling=====*/
     .google-maps{
position:relative;
height:420px;
overflow:hidden;
}
.google-maps iframe{
position:absolute;
top:0;
left:0;
width:100% !important;
height:100% !important;
border:0px;
}
/*=======googlemaps Styling=====*/
  /*=======clients Styling=====*/

    .clients{
background:#f0f0f0;
}
.clients .article-enclose{
padding:25px 0px;
}
.client-list{
list-style:none;
padding:0px;
margin:0px;
}

.client-list li {
    height: 40px;
    margin-top: 20px;
}

.client-list img{
vertical-align:bottom;
}
.client-list li img:hover{
cursor:pointer;
}
/*=======clients Styling=====*/
  /*=======footer Styling=====*/
  .footer-top{
background:#171b1e;
}
.footer-bottom{
background:#141617;
font-size:16px;
}
.footer-connect-wrapper{
display:table;
margin:0 auto;
}
.footer-connect-list{
list-style:none;
margin-top:20px;
padding:0px;
min-width:40px;
}
.footer-connect-list li{
float:left;
width:40px;
height:40px;
display:inline;
color:#5f5d5d;
font-size:30px;
line-height:40px;
margin-left:8px;
margin-bottom:20px;
/*transition*/
-webkit-transition:all .8s;
   -moz-transition:all .8s;
     -o-transition:all .8s;
        transition:all .8s;
text-align:center;
vertical-align:middle;
}

.footer-connect-list li a{
  color:inherit;
}
.footer-connect-list li:first-of-type{
margin-left:0px;
}
.footer-connect-list li:hover{
/*border-radius*/
-webkit-border-radius:40px;
   -moz-border-radius:40px;
        border-radius:40px;
background:#fff;
color:#141617;
}
.footer-connect-list li.twitter:hover{
background:#9ae4e8;
color:white;
}
.footer-connect-list li.fb:hover{
background:#3b5998;
color:white;
}
.footer-connect-list li.google:hover{
background:#d34836;
color:white;
}
.footer-connect-list li.lin:hover{
background:#0e76a8;
color:white;
}
.footer-connect-list li.flicker:hover{
background:#0063dc;
color:white;
}
.footer-connect-list li.pin:hover{
background:#C92228;
color:white;
}
.payment-list{
list-style:none;
margin-top:20px;
}
.payment-list li{
float:left;
margin-left:10px;
width:15%;
}
.footer-bottom{
text-align:center;
padding:10px 0;
color:#d3d3d3;
}
/*=======footer Styling=====*/
/*=======Blog Pages Styling=====*/
  .top-nav{
padding:0px 0px;
border-bottom:1px solid #DADADA;
background:#fafafa;
}
a.navbar-brand{
padding:8px 0px;
border:none;
}
.fixed-nav{
position:fixed;
z-index:1000;
width:100%;
top:0px;
}
.admin-bar .fixed-nav{
top:32px;
}

#gnav li{
margin-left:10px;
}
#gnav li:first-of-type{
margin-left:0px;
}
#gnav li a{
color:#171B1E;
padding-top:8px;
font-size:14px;
padding-bottom:8px;
text-align:center;
margin-top:10px;
margin-bottom:10px;
/*transition*/
-webkit-transition:all .4s;
   -moz-transition:all .4s;
     -o-transition:all .4s;
        transition:all .4s;
border:1px solid rgba(255,255,255,0);
}


  #gnav li a:hover,#gnav li a:focus,#gnav li a:active,#gnav li a.active,#gnav li.current-menu-item a{
color:#171B1E;
background:transparent;
border:1px solid #919191;
}

.navbar-collapse{
overflow:visible!important;
}

.navbar-collapse.in{
  clear:both;
  padding:0px;
  width:100%;
  display:block;
}

.navbar-collapse.in #gnav{
  clear:both;
  padding:0px;
  width:100%;
}

.post-content,.top-heading-wrap{
color:#b4afaf;
font-weight:300;
}
.top-heading{
margin:40px 0px 20px 0px;
text-transform:uppercase;
border-bottom:1px solid #b4afaf;
line-height:1.3em;
}
.top-heading h1{
display:inline-block;
color:#0b0b0b;
padding-bottom:40px;
border-bottom:1px solid #0b0b0b;
margin-bottom:-1px;
}
.post-title-enclose h2{
font-size:30px;
color:#0b0b0b;
line-height:36px;
}
.pxdiv{
height:1px;
width:100%;
background:#e3e3e3;
margin-bottom:30px;
}
.pxdiv25{
height:1px;
width:40%;
background:#686868;
}
.post{
margin-bottom:20px;
overflow:hidden;
}
.post-content{
margin-top:30px;
}
.post-title-enclose .blog-tile-post-info{
margin:15px 0px;
}


.sidebar-widget-wrap h3{
color:#3f3f3f;
}
.sidebar-widget-wrap{
padding:20px;
clear:both;
}
.recent-post-ul li{
list-style:none;
margin-top:20px;
clear:both;
}
.recent-post-ul{
padding:0px;
}
.side-img{
padding:0px;
}
.recent-content{
padding:5px;
padding-top:0px;
}
.recent-content h4{
font-size:16px;
font-weight:400;
margin-top:0px;
text-transform:capitalize;
}
.side-info{
font-size:14px;
font-weight:300;
}
.side-info span{
color:#0b0b0b;
}

.search-widget label{
  display:block;
}

.search-widget .screen-reader-text{
    font-weight:300;
    font-size:24px;
}
.search-widget input[type="search"]{
  width:100%;
  float:left;
  margin:10px 0px;
  font-weight:300;
}
.search-widget input[type="submit"]{
  width:40%;
  float:right;
}
/*=======Blog Pages Styling=====*/


/*custom animated */

.s-btn{
  position:relative;
}

.s-btn section{
margin-left:1%;
width:18%;
position:relative;
margin-top:20px;

}

.s-btn .hoveranime{
  position:absolute;
  right:0px;
  top:-40px;
  right:30px;
}

.s-btn .hoveranime-tile{
  position:absolute;
 -webkit-transform:rotate(30deg);
   -moz-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
     -o-transform:rotate(30deg);
        transform:rotate(30deg);
  font-family: 'jenna_sueregular';
  font-size:42px;
  top:-40px;
  right:-35px;
}

.s-btn .hoveranime-arrow{
/*transform*/
-webkit-transform:rotatey(180deg);
   -moz-transform:rotatey(180deg);
    -ms-transform:rotatey(180deg);
     -o-transform:rotatey(180deg);
        transform:rotatey(180deg);
}



.s-btn section:last-of-type{
margin-right:0px!important;
}
.s-btn section,
.s-btn section div{
/*transition-duration*/
-webkit-transition-duration:.6s;
   -moz-transition-duration:.6s;
     -o-transition-duration:.6s;
        transition-duration:.6s;
}
.s-btn section,
.s-btn .button{
/*transition-timing-function*/
-webkit-transition-timing-function:ease;
   -moz-transition-timing-function:ease;
     -o-transition-timing-function:ease;
        transition-timing-function:ease;
        font-size:16px;
}
.s-btn section{
display:inline-block;
position:relative;
padding:.375rem .375rem 0;
height:2.5rem;
background:#A9ADB6;
/*border-radius*/
-webkit-border-radius:0;
   -moz-border-radius:0;
        border-radius:0;
/*perspective*/
-webkit-perspective:300px;
   -moz-perspective:300px;
    -ms-perspective:300px;
     -o-perspective:300px;
        perspective:300px;
/*box-shadow*/
-webkit-box-shadow:0 -1px 2px #ffffff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
   -moz-box-shadow:0 -1px 2px #ffffff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
        box-shadow:0 -1px 2px #ffffff, inset 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
.s-btn .button{
opacity:0;
text-align:center;
}
.s-btn .cover{
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
font:1.25em/2 "icon";
color:white;
text-align:center;
z-index:100;
/*transform-origin*/
-webkit-transform-origin:center bottom;
   -moz-transform-origin:center bottom;
    -ms-transform-origin:center bottom;
     -o-transform-origin:center bottom;
        transform-origin:center bottom;
/*transform-style*/
-webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;
}
.s-btn .innie,
.s-btn .outie,
.s-btn .spine,
.s-btn .shadow{
position:absolute;
width:100%;
}
.s-btn .innie,
.s-btn .outie{
height:100%;
background-image:-webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
/*border-radius*/
-webkit-border-radius:0;
   -moz-border-radius:0;
        border-radius:0;
}
.s-btn .innie:after,
.s-btn .outie:after{
content:"";
}
.s-btn .innie{
background-color:#67E2FE;
text-shadow:0 -2px 4px rgba(0, 0, 0, 0.2);
}
.s-btn .spine{
top:.25rem;
background:#20C7F3;
height:.25rem;
/*transform*/
-webkit-transform:rotateX(90deg);
   -moz-transform:rotateX(90deg);
    -ms-transform:rotateX(90deg);
     -o-transform:rotateX(90deg);
        transform:rotateX(90deg);
/*transform-origin*/
-webkit-transform-origin:center top;
   -moz-transform-origin:center top;
    -ms-transform-origin:center top;
     -o-transform-origin:center top;
        transform-origin:center top;
}
.s-btn .shadow{
top:100%;
left:0;
height:3.5rem;
/*transform-origin*/
-webkit-transform-origin:center top;
   -moz-transform-origin:center top;
    -ms-transform-origin:center top;
     -o-transform-origin:center top;
        transform-origin:center top;
/*transform*/
-webkit-transform:rotateX(90deg);
   -moz-transform:rotateX(90deg);
    -ms-transform:rotateX(90deg);
     -o-transform:rotateX(90deg);
        transform:rotateX(90deg);
opacity:0;
z-index:0;
background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
/*border-radius*/
-webkit-border-radius:0;
   -moz-border-radius:0;
        border-radius:0;
}
.s-btn .outie{
background-color:#2EC8FA;
/*transform*/
-webkit-transform:translateZ(0.25rem);
   -moz-transform:translateZ(0.25rem);
    -ms-transform:translateZ(0.25rem);
     -o-transform:translateZ(0.25rem);
        transform:translateZ(0.25rem);
text-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
}
.s-btn section:hover,.s-btn section.active{
background:#EBEFF2;
}
.s-btn section:hover .button,.s-btn section.active .button{
opacity:1;
}
.s-btn section:hover .cover,
.s-btn section:hover .innie,
.s-btn section:hover .spine,
.s-btn section:hover .outie,
.s-btn section:hover .spine{
/*transition-timing-function*/
-webkit-transition-timing-function:cubic-bezier(0.2, 0.7, 0.1, 1.1);
   -moz-transition-timing-function:cubic-bezier(0.2, 0.7, 0.1, 1.1);
     -o-transition-timing-function:cubic-bezier(0.2, 0.7, 0.1, 1.1);
        transition-timing-function:cubic-bezier(0.2, 0.7, 0.1, 1.1);
}
.s-btn section:hover .cover,.s-btn section.active .cover{
/*transform*/
-webkit-transform:rotateX(-120deg);
   -moz-transform:rotateX(-120deg);
    -ms-transform:rotateX(-120deg);
     -o-transform:rotateX(-120deg);
        transform:rotateX(-120deg);
}
.s-btn section:hover .innie{
background-color:#3ADAFC;
}
.s-btn section:hover .spine{
background-color:#52B1E0;
}
.s-btn section:hover .outie{
background-color:#2174A0;
color:rgba(255, 255, 255, 0);
}
.s-btn section:hover .shadow,.s-btn section.active .shadow{
opacity:1;
/*transform*/
-webkit-transform:rotateX(45deg) scale(0.95);
   -moz-transform:rotateX(45deg) scale(0.95);
    -ms-transform:rotateX(45deg) scale(0.95);
     -o-transform:rotateX(45deg) scale(0.95);
        transform:rotateX(45deg) scale(0.95);
}
.s-btn small{
font:0.8rem/1 sans-serif;
padding-top:4rem;
color:#777;
}
.s-btn small a{
color:#222;
text-decoration:none;
border-bottom:thin solid #ccc;
}
.s-btn small a:hover{
border-bottom-color:#222;
}
.s-btn .skype .outie,.s-btn .skype .innie,.s-btn .skype .spine{
background:#00acec;
}
.s-btn .skype:hover .innie,.s-btn .skype.active .innie{
background-color:#00acec;
}
.s-btn .skype:hover .spine,.s-btn .skype.active .spine{
background-color:#1f86ac;
}
.s-btn .skype:hover .outie,.s-btn .skype.active .outie{
background-color:#1f7291;
}
.s-btn .skype .innie:after,
.s-btn .skype .outie:after{
content:"";
display:block;
width:100%;
height:100%;
line-height:0px;
color:rgba(255,255,255,0);
background:asset-url('skype.png') no-repeat center  center;
}
.s-btn .yahoo .outie,.s-btn .yahoo .innie,.s-btn .yahoo .spine{
background:#5e3182;
}
.s-btn .yahoo:hover .innie,.s-btn .yahoo.active .innie{
background-color:#5e3182;
}
.s-btn .yahoo:hover .spine,.s-btn .yahoo.active .spine{
background-color:#511e7a;
}
.s-btn .yahoo:hover .outie,.s-btn .yahoo.active .outie{
background-color:#431865;
}
.s-btn .yahoo .innie:after,
.s-btn .yahoo .outie:after{
content:"";
display:block;
width:100%;
height:100%;
line-height:0px;
font-size:0px;
color:rgba(255,255,255,0);
background:asset-url('yahoo.png') no-repeat center  center;
}
.s-btn .gplus .outie,.s-btn .gplus .innie,.s-btn .gplus .spine{
background:#c73326;
}
.s-btn .gplus:hover .innie,.s-btn .gplus.active .innie{
background-color:#c73326;
}
.s-btn .gplus:hover .spine,.s-btn .gplus.active .spine{
background-color:#c42517;
}
.s-btn .gplus:hover .outie,.s-btn .gplus.active .outie{
background-color:#b22014;
}
.s-btn .gplus .innie:after,
.s-btn .gplus .outie:after{
content:"";
display:block;
width:100%;
height:100%;
line-height:0px;
font-size:0px;
color:rgba(255,255,255,0);
background:asset-url('google.png') no-repeat center  center;
}
.s-btn .icq .outie,.s-btn .icq .innie,.s-btn .icq .spine{
background:#363636;
}
.s-btn .icq:hover .innie,.s-btn .icq.active .innie{
background-color:#363636;
}
.s-btn .icq:hover .spine,.s-btn .icq.active .spine{
background-color:#302f2f;
}
.s-btn .icq:hover .outie,.s-btn .icq.active .outie{
background-color:#181818;
}
.s-btn .icq .innie:after,
.s-btn .icq .outie:after{
content:"";
display:block;
width:100%;
height:100%;
line-height:0px;
font-size:0px;
color:rgba(255,255,255,0);
background:asset-url('icq.png') no-repeat center  center;
}
.s-btn .mail .outie,.s-btn .mail .innie,.s-btn .mail .spine{
background:#3376AA;
}
.s-btn .mail:hover .innie,.s-btn .mail.active .innie{
background-color:#3376AA;
}
.s-btn .mail:hover .spine,.s-btn .mail.active .spine{
background-color:#276fa6;
}
.s-btn .mail:hover .outie,.s-btn .mail.active .outie{
background-color:#1d5885;
}
.s-btn .mail .innie:after,
.s-btn .mail .outie:after{
content:"";
display:block;
width:100%;
height:100%;
line-height:0px;
font-size:0px;
color:rgba(255,255,255,0);
background:asset-url('mail.png') no-repeat center  center;
}
.s-btn .button{
color:#000;
padding:5px;
}

.s-btn a.active{
  text-decoration:none;
border:none;
color:#171b1e;
border-bottom:1px dotted #171b1e;
}



  /*=======media queiries Styling=====*/
  
  @media only screen and (min-width : 1170px){
  


}

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1170px){
  
  .navbar-brand{
          width:20%;
        }

        #gnav{
          width:80%;
        }

  

 

}
/* Medium Devices, Desktops */
  @media only screen and (max-width : 992px){
    
    .s-btn{
        margin-top:20px;
      }
    .hex-wrapper{
        width:400px;
        margin:auto!important;
        margin-left:auto!important;
        overflow:visible;
      }

          .hex-wrapper{
        width:390px;
        margin:auto!important;
        margin-left:auto!important;
        overflow:visible;
      }


          .hexagon .hex-middle h3{
          right:100%;
          padding:0px;
          width:120px;
          padding-bottom:5px;
          font-size:18px;
          display:inline;
          min-width:0px;
          }
          .hexagon .hex-middle.rev h3{
              right:100%;
               width:120px;
              padding:0px;
              padding-bottom:5px;
              font-size:18px; 
          }

        .navbar-brand{
          width:20%;
        }

        #gnav{
          width:80%;
        }

     .s-btn section, .s-btn .button {
        font-size: 12px;
      }


}
/* Small Devices, Tablets */
  @media only screen and (max-width : 768px){
      .s-btn{
        margin-top:30px;
      }
    

      .counterwrapper {
          margin-top: 80px!important;
      }

      .blog-post-tile{
        margin-bottom:40px;
      }

       #go-to-blog.btn {
          width:80%;
        }

    .s-btn .hoveranime {
        top: -30px;
    }
    
    .form-right{
      padding-left:0px;
    }

    .form-left{
      padding-right:0px;
    }

    .admin-bar .fixed-nav{
       top:46px;
      }

      .parllax,.non-parllax{
        background-attachment:scroll!important;
        background-size:cover!important;
      }

      .s-btn section{
          width: 45%;
          float: left;
          margin-bottom:15px;
          font-size:16px;
      }

      .grace-spinner-loader {
            bottom: -40px;
        }
      .member-name {
        margin-left: -15%;
      }
}

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px){
      #portfolio .folio-slide .folio-tile{
             width:100%!important;
      }

      .parllax{
        background-attachment: scroll;
        background-size:cover;
      }

      .hex-wrapper{
        width:100%;
        margin:auto;
        overflow:hidden;
      }

        .hexagon {
            margin-left: 20px;
            float: none;
            display:block;
            margin-right:20px;
            width:100px;
            margin:auto!important;
            margin-bottom:80px!important;

        }


        .hexagon .hex-middle h3,.hexagon .hex-middle.rev h3{
          left:0!important;
          bottom:0!important;
          bottom: -60px!important;
          left: 50%!important;
          margin-left: -50%!important;
          font-size:24px;
          display:block;
        }
        

        .hexagon .hex-middle h3:before,.hexagon .hex-middle h3:after{
          display:none!important;
                  
        }

        .hexagon.blue{
        display:none;
      }

      .counterwrapper{
        font-size:30px;
        margin-top:100px!important;
        }
        .counterwrapper span{
        display:block;
        line-height:30px;
        }
        .counterwrapper .counter{
          font-size:96px;
          line-height:120px;
        }
    .admin-bar .fixed-nav{
       top:0px;
      }



}
/* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px){
        #portfolio .folio-slide .folio-tile{
               width:100%!important;
        }

        .hex-wrapper{
          text-align:center;
        }

        .hexagon {
            margin-left: 20px;
            float: none;
            display:block;
            margin-right:20px;
            width:100px;
            margin:auto!important;
            margin-bottom:80px!important;
        }

        .hexagon h3 {
          display:none;
        }

        .hexagon .hex-middle h3{
          left:0!important;
          bottom:0!important;
          bottom: -60px!important;
          left: 50%!important;
          margin-left: -75%!important;
                  
        }

        .hexagon .hex-middle h3:before,.hexagon .hex-middle h3:after{
          display:none!important;
                  
        }

        .hexagon.blue{
        display:none;
      }
}

.bx-viewport { height: auto !important; }