<!--=======Header Start=====-->
<header class="top-nav" role="header">
    <div class="container">
        <a href="#" class="navbar-brand pull-left">
            <img src="img/logosm.png" alt="">
        </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <nav class="navbar-collapse collapse" role="navigation">
            <ul id="gnav" class="navbar-nav nav pull-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Featured works</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Portfolio</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--=======Header end=====-->