<p id="notice"><%= notice %></p>

<h1>Listing Testimonials</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Profile pic</th>
      <th>Client name</th>
      <th>Company name</th>
      <th>Comment</th>
      <th>Star</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testimonials.each do |testimonial| %>
      <tr>
        <td><%= image_tag testimonial.profile_pic.thumb.url %></td>
        <td><%= testimonial.client_name %></td>
        <td><%= testimonial.company_name %></td>
        <td><%= testimonial.comment %></td>
        <td><%= testimonial.star %></td>
        <td><%= link_to 'Show', testimonial %></td>
        <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
        <td><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testimonial', new_testimonial_path %>
