<p id="notice"><%= notice %></p>

<p>
  <strong>Profile pic:</strong>
  <%= image_tag @testimonial.profile_pic, class:"showImage" %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @testimonial.client_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @testimonial.company_name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @testimonial.comment %>
</p>

<p>
  <strong>Star:</strong>
  <%= @testimonial.star %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
