<ul class="links">
		<li><%= link_to "Portfolio" ,  "/dashboard/portfolio" %>
		 </li>
		<li><%= link_to "Blog" , "/blogs" %></li>
		<li><%= link_to "Services" , "/services" %></li>
		<li><%= link_to "Testimonial" , "/testimonial" %></li>
		<li><%= link_to "Setting" , "/dashboard/settings" %></li>
		<li><%= link_to "Team" , "/dashboard/team" %></li>
</ul>
