<!DOCTYPE html>
<html>
<head>
  <title>Wizdevel Site</title>
  <%= stylesheet_link_tag    'homelayout', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'homelayout', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'header' %>
<div class="blog-enclose">
  <div class="blog-content container">
  	<div class="post-wrapper col-md-8">
  		  <%= yield %>
  	</div>
  		<aside class="sidebar-wrapper col-md-4">
  			<div class="blog-sidebar">
  			<div class="sidebar-widget-wrap">
  				<div class="pxdiv"><div class="pxdiv25"></div></div>
  				<h3>Search Widget</h3>
    			<div class="search-widget">
    				<input placeholder="Search...." type="text">
    				<submit></submit>
    			</div>
    		</div>
  			<div class="sidebar-widget-wrap">
  				<div class="pxdiv"><div class="pxdiv25"></div></div>
  				<h3>Recent Post</h3>
  				<ul class="recent-post-ul">
  					<li>
  						<div class="side-img col-md-4"><img class="img-responsive" src="img/recentimg.jpg" alt=""></div>
  						<div class="recent-content col-md-8">
  							<h4>this is blog post test in wordpress!</h4>
  						<div class="side-info">28 July 2014 in <span>Inspiration</span></div>
  						</div>
  						<div class="clearfix"></div>				
  					</li>
  					<li>
  						<div class="side-img col-md-4"><img class="img-responsive" src="img/recentimg.jpg" alt=""></div>
  						<div class="recent-content col-md-8">
  							<h4>this is blog post test in wordpress!</h4>
  						<div class="side-info">28 July 2014 in <span>Inspiration</span></div>
  						</div>
  						<div class="clearfix"></div>		
  					</li>
  					<li>
  						<div class="side-img col-md-4"><img class="img-responsive" src="img/recentimg.jpg" alt=""></div>
  						<div class="recent-content col-md-8">
  							<h4>this is blog post test in wordpress!</h4>
  						<div class="side-info">28 July 2014 in <span>Inspiration</span></div>
  						</div>
  						<div class="clearfix"></div>		
  					</li>
  					<li>
  						<div class="side-img col-md-4"><img class="img-responsive" src="img/recentimg.jpg" alt=""></div>
  						<div class="recent-content col-md-8">
  							<h4>this is blog post test in wordpress!</h4>
  						<div class="side-info">28 July 2014 in <span>Inspiration</span></div>
  						</div>
  						<div class="clearfix"></div>		
  					</li>
  				</ul>
  			</div>
  			<div class="sidebar-widget-wrap">
  				<div class="pxdiv"><div class="pxdiv25"></div></div>
  				<h3>Recent Post</h3>
  				<div class="div"><p>Aenean pretium, lacus vitae pharetra mattis, ipsum augue placerat risus, volutpat suscipit quam nunc facilisis ipsum. Phasellus vulputate odio nec dui consectetur eget convallis tortor.</p></div>
  				<div class="pxdiv"><div class="pxdiv25"></div></div>
  			</div>
  		</aside>
  </div>
</div>
<%= render 'footer' %>
</body>
</html>