<!DOCTYPE html>
<html>
<head>
  <title>Wizdevel Site</title>
  <%= stylesheet_link_tag    'homelayout', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <%= javascript_include_tag 'homelayout', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>